{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"/>
  <div class="container-fluid info">
    <div class="row header">
      <div class="col header-text">
        <h1>( Lo-oK )</h1>
        <h2>A New Way To Search</h2>
      </div>
    </div>

    <div class="row features">
      <div class="features-row">
        <div class="col-xs-12 col-lg">
          <div class="row">
            <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/quick-mode-on.png"/>
          </div>
          <div class="row">
            <p>Results Now</p>
          </div>
        </div>
  
        <div class="col-xs-12 col-lg">
          <div class="row">
            <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/spyware-free.png"/>
          </div>
          <div class="row">
            <p>Secure Searching Always</p>
          </div>
        </div>
  
        <div class="col-xs-12 col-lg">
          <div class="row">
            <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/guest-male.png"/>
          </div>
          <div class="row">
            <p>Persoanlized For You</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row footer">
      <div class="col">About</div>
      <div class="col">Contact</div>
      <div class="col">Settings</div>
    </div>

  </div>
{% endblock %}